@using OpenSourceScrumTool.Extensions
@using OpenSourceScrumTool.Hubs
@model OpenSourceScrumTool.Models.ViewModels.TeamsViewModel

<div class="panel panel-primary panel-dismissable" data-panel-details="Teams">
    <div class="panel-heading">
        Teams
        <button type="button" class="close" data-dismiss="panel">×</button>
        <button type="button" class="close show-btn" style="display: none;"><span class="caret"></span></button>
    </div>

    <div class="panel-body pull-right">
        @Html.ActionLink("Add Team", "AddTeam", new { }, new { data_modal = "", id = "btnAddTeam", @class = "btn btn-primary" })
    </div>

    <div class="clearfix"></div>

    <div class="panel-body" id="TeamsPartial" data-bind="foreach: Teams">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span data-bind="text: TeamName"></span>
                    <span class="pull-right">
                        <a data-bind="attr: { href: '@Url.Action("EditTeam")?id=' + Id() }" data-modal>
                            <i class="fa fa-pencil"></i>
                        </a>
                    </span>
                </div>
                <div class="panel-body">
                    <h5>Projects;</h5>
                    <div data-bind="if: Projects().length == 0" class="col-md-offset-1">No projects are assigned to this team.</div>
                    <ul data-bind="foreach: Projects">
                        <li><span data-bind="text: ProjectName"></span></li>
                    </ul>
                    <h5>Members;</h5>
                    <ul data-bind="foreach: Members">
                        <li><span data-bind="text: Fullname"></span> - <span data-bind="text: RoleName"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* ReSharper disable once StringLiteralWrongQuotes *@
<script type="text/javascript">
    (function (window, $, undefined) {
        //Serialise model into json string
        var modelJson = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        //Parse model to apply and start monitoring
        var obj = window.Scrum.LiveUpdate.ParseJson(modelJson);
        window.Scrum.LiveUpdate.UpdateData("@ViewModelDataType.Team.DisplayName()", "@ActionType.Index.DisplayName()", obj);
    })(window, jQuery.noConflict());
</script>