<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custombootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/site")
    <meta name="description" content="Manage projects using SCRUM." />
</head>
<body>
    <!-- modal placeholder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent"></div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <h4>Warning!</h4>
                        <p>Someone else is currently editing this, you have two options.</p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-danger" id="EditTakeControl">Take Control</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="EditCancel">Cancel</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand"><img src="~/Content/Images/OS_Scrum_White.png" style="margin-top: -12px; width: 180px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                    <li>@Html.ActionLink("Sprint Board", "Index", "Sprint")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Known Issues", "KnownIssues", "Home")</li>
                            <li>@Html.ActionLink("Changelog", "Changelog", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now.Year - Open Source Scrum Tool</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
